.maincontent{
    display: flex;
    flex-direction: column;
    padding: 1vw 10vw 0 10vw;
    background-color: rgba(3, 19, 112, 0.671);
}

body{
    margin: 0;
    padding: 0;
}

.topnav {
    flex: 1;
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.topnav button{
    background-color: rgb(5, 5, 148);
    color: antiquewhite;
    border: 0;
    border-radius: 30px;
    padding: 0.3rem 2rem;
}

input[type="text"], input[type="number"] {
    background-color: blanchedalmond;
    border: 0;
    border-radius: 15px;
    margin-top: 5px;
}

.books {
    flex: 6;
    flex: 3;
    background-color: rgb(127, 148, 148);
    display: flex;
    padding: 2vw 5vw;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 20px;
    min-height: 83vh;
}

.card {
    background-color: rgb(178, 207, 233);
    border-radius: 20px;
    width: 21vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 3rem;
    font-weight: bold;
}

.card > p {
    margin: 0;
}

.card > div > button{
    padding: 0.7rem 1.5rem;
    margin: 0.5rem;
    font-weight: bold;
    margin-top: 0;
    border-radius: 6px;
    background-color: red;
    color: beige;
}